.cadastro{width: 60%; margin: 15px 20%;}

.topFaixa{height: 50px; background: #025158; font-weight: bold; color: #fff; line-height: 50px;}

/*Extra-small*/
.cadastro{width: 90%; margin: 15px 5%;}


/*Small*/
.cadastro{width: 80%; margin: 15px 10%;}